body {
  font-family: Verdana;
  margin: 0;
}

.conatiner {
  position: fixed;
}

h3,
ul,
li {
  margin: 0;
  padding: 0;
}

header,
h3 {
  display: flex;
  align-items: center;
  margin: 0;
  padding-left: 2em;
}

header {
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  position: fixed;
  width: 100%;
}

#logo,
nav {
  flex: 1;
}

nav ul {
  display: flex;
  justify-content: space-around;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

#header-img {
  max-width: 8em;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 350px;
  position: relative;
  z-index: 1;
}

#vid {
  display: flex;
  justify-content: center;
  height: 20px;
}


@media (max-width: 800px) {
  nav ul {
    display: inline;
  }
  li.nav-link {
    display: block;
    text-align: right;
    padding-right:8em;
    font-size: .9em;
  }
  #header-img {
    width: 7em;
  }
  h3 {
    font-size: .9em;
  }
  h1 {
    font-size: 1.5em;
  }
  #main {
    height: 300px;
  }
}

@media (max-width: 539px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #header-img {
    width: 6em;
  }
  
  h3#logo.logo {
    padding: 0;
  }
  
  li.nav-link {
    text-align: center;
    font-size: .8em;
  }
  h1 {
    font-size: 1.2em;
    margin: 0px 2px 0px 2px;
  }
  #main {
    height: 400px;
  }
  h4 {
    font-size: .8em;
  }
}
